<section id="{{ include.section.section_id }}" class="block hero-block outer">
  <div class="inner-small hero-content-wrapper">
    <div class="hero-image-wrapper">
      <img src="/assets/lizzy.jpg" alt="Lizzy" class="hero-portrait show" />
      <img src="/assets/jane.jpg" id="hero-jane-photo" alt="Lizzy and Jane" class="hero-portrait" />
      <img src="/assets/skillet.jpg" id="hero-skillet-photo" alt="My skillet" class="hero-portrait" />
      <img src="/assets/running.jpg" id="hero-running-photo" alt="Austin 10k with my friend Katie" class="hero-portrait" />
      <img src="/assets/books.jpg" id="hero-books-photo" alt="Madeline Miller is a favorite" class="hero-portrait" />
    </div>
    <div>
      <div class="block-header">
        <h2 class="block-title">{{ include.section.title }}</h2>
      </div><!-- .block-header -->
      <div class="block-content">
        <div class="block-copy">
          {{ include.section.content | markdownify }}
        </div>
      </div><!-- .block-content -->
    </div>
  </div><!-- .inner -->
</section><!-- .block -->
