.my-work-wrapper {
    background: #efefef;
}

.my-work-inner {
    padding: 40px 0; 
}

.my-work-heading {
    margin-bottom: 30px;
    text-align: center;
}

.work {
    background: #fff;
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: all 0.28s cubic-bezier(0.4,0,0.2,1);

    &:hover {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);

        .read-more {
            background: $link-color;
            border-top: solid 1px $link-color;
            border-left: solid 1px $link-color;
            color: #fff;
        }
    }

    @include breakpoint(small) {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
        color: #393636;
        cursor: default;
        margin: 0 auto;
        max-width: 400px;
    }

    .work-preview-image-wrapper {
        display: block;
        float: left;
        margin-right: 5px;
        padding: 10px;
        width: 36%;

        @include breakpoint(small) {
            margin-right: 0;
            width: 100%;

            img {
                width: 100%;
            }
        }

        img {
            border-radius: 3px;
        }
    }

    .work-text {
        padding: 15px;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;

            @include breakpoint(small) {
                margin-bottom: 35px;
            }

        }

    }

    .read-more {
        background: #fff;
        border-top: solid 1px #ccc;
        border-left: solid 1px #ccc;
        color: #aaa;
        padding: 8px 12px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 3px;
        transition: all 0.28s cubic-bezier(0.4,0,0.2,1); 

        @include breakpoint(small) {
            background: $link-color;
            border-top: solid 1px $link-color;
            border-left: solid 1px $link-color;
            color: #fff;
        }       
    }

}