.work-page {

    .article {
        border-top: 1px solid $base-border-color;
        margin-top: 20px;
        
        .article-header {
            border-bottom: none;
            overflow: hidden;
            padding-top: 30px;
            padding-bottom: 0px;

            h1 {
                font-size: 52px;

                @include breakpoint(small) {
                    font-size: 30px;
                }
            }
        }
    }
}