<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main">
    <div class="hero">
      <h1>Hi, I'm Lizzy</h1>
      <span class="sub-title">Social Media Marketer in Austin, TX</span>  
      {% include layout_image.html class="hero-portrait" path="lizzy.jpg" alt="Hi, I'm Lizzy 👋 " %}
      <div class="social-icons">
          <a href="mailto:lizzy.stewart39@gmail.com?Subject=Hi%20Lizzy!"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <a href="http://www.instagram.com/lizzystew/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/lizzy-stewart-31324375"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
    <div class="grid grid-centered">
      <div class="grid-cell">
        
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
