<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main" class="work-page">
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include nav-to-home.html %}
        <article class="article reveal">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <img data-no-retina class="work-preview-image" src="{{ page.preview_image }}">
            <p>{{ page.description }}</p>
            <div class="article-list-footer">
              <span class="article-list-date">
                {{ page.metadata }}
              </span>
            </div>
          </header>

          <div class="article-content">
            {{ content }}
          </div>

        </article>
        
      </div>
    </div>
    {% include work-list.html %}
    {% include footer.html %}
  </main>
  {% include javascripts.html %}
</body>
</html>
